.root {
    -fx-base: #37383C;
    -fx-background: derive(-fx-base, -10%);
    -fx-control-inner-background: derive(-fx-base, -20%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 5%);

    -fx-dark-text-color: #FFFFFF;
    -fx-mid-text-color: #E3E3E3;
    -fx-light-text-color: #C8C8C8;
    -fx-text-background-color: ladder(
            -fx-background,
            -fx-light-text-color 20%,
            -fx-mid-text-color 40%,
            -fx-dark-text-color 60%
    );

    -fx-accent: #1EB6FF;
    -fx-default-button: #4D4F54;
    -fx-focus-color: rgba(30, 182, 255, 0.5);
    -fx-faint-focus-color: rgba(30, 182, 255, 0.1);

    -fx-hover-base: ladder(
            -fx-base,
            derive(-fx-base,10%) 20%,
            derive(-fx-base,20%) 35%,
            derive(-fx-base,30%) 50%
    );

    -fx-pressed-base: derive(-fx-base, -10%);

    -fx-box-border: derive(-fx-base, -35%);
    -fx-shadow-highlight-color: ladder(
            -fx-background,
            rgba(255, 255, 255, 0.1) 25%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.3) 75%
    );
    -fx-outer-border: derive(-fx-color, -50%);
    -fx-inner-border: linear-gradient(
            derive(-fx-color, 35%),
            -fx-color);

    -fx-body-color: linear-gradient(
            derive(-fx-color, 20%),
            derive(-fx-color, -20%));
    -fx-body-color-bottomup: linear-gradient(
            to top,
            derive(-fx-color, 20%),
            -fx-color);
    -fx-body-color-to-right: linear-gradient(
            to right,
            derive(-fx-color, 20%),
            -fx-color);

    -fx-mark-color: ladder(-fx-color,
    -fx-light-text-color 30%,
    -fx-dark-text-color 31%);
    -fx-mark-highlight-color: derive(-fx-color, 35%);
    -fx-selection-bar-non-focused: -fx-mark-highlight-color;
}

/*******************************************************************************
 *                                                                             *
 * Prompt text                                                                 *
 *                                                                             *
 ******************************************************************************/

.text-input {
    -fx-prompt-text-fill: #787878;
}

.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/

.progress-indicator .percentage {
    -fx-fill: -fx-light-text-color;
}

/*******************************************************************************
 *                                                                             *
 * DatePicker                                                                  *
 *                                                                             *
 ******************************************************************************/

.date-picker-popup .calendar-grid {
    -fx-background-color: derive(-fx-color, 10%);
}

.date-picker-popup .calendar-grid .day-cell {
    -fx-border-color: derive(-fx-color, 10%);
    -fx-border-width: 1.5px;
}

.date-picker-popup .calendar-grid .day-cell:hover,
.date-picker-popup .calendar-grid .day-cell:focused {
    -fx-text-fill: -fx-dark-text-color;
}

.date-picker-popup .calendar-grid .day-name-cell {
    -fx-text-fill: -fx-light-text-color;
}

.date-picker-popup > .month-year-pane > .spinner > .button > * {
    -fx-background-color: -fx-light-text-color;
}

/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                   *
 *                                                                             *
 ******************************************************************************/

.hyperlink:focused {
    -fx-border-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider .axis .axis-tick-mark,
.slider .axis .axis-minor-tick-mark {
    -fx-stroke: -fx-light-text-color;
}

/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/

.menu-bar {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-border-color: -fx-box-border;
    -fx-effect: dropshadow(two-pass-box , -fx-shadow-highlight-color, 1, 0.0 , 0, 1.4);
}

/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: linear-gradient(
            derive(-fx-background, -40%),
            derive(-fx-background, -25%));
}

/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/

.table-cell > .choice-box {
    -fx-light-text-color: white;
}